@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,300;1,400;1,500&display=swap");
* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  box-sizing: border-box;
}
@import "./cart.scss";
body {
  background-color: black;
}

.navbar {
  background-color: rgb(252, 95, 10);
}
.nav_link {
  padding: 0px;
}
.cart_btn {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 6px;
}
.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-img-top {
  object-fit: contain;
  width: 240px;
  height: 240px;
  margin-left: 1.5rem;
}
.Add_toCartbtn {
  background-color: rgb(252, 95, 10);
  color: black;
}
.card {
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
